// color variable
$nav-color: rgb(72, 75, 79);
$text-color: rgb(247, 247, 247);
// navigation colors
$nav-background: $nav-color;

// text colors
$typo-color: $text-color;

// Clock variables
$clock-text-color: white;
$clock-bg-color: #B5D0E2;
$clock-border-color: #2099EB;
